*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.main {
    background-color: #111D4A;
    font-family: "Blinker", serif;
    max-width: 20rem;
    /* min-height: 100vh; */
}

.image {
    width: 20rem;
    height: 12rem;
    object-fit: cover;
}

.content {
    padding: 2rem;

}

.title {
    color: #05CBE9;
    font-size: 1.8rem;
}

.info, .minutes-num, .minutes-info {
    /* color: #686868; */
    color: #BBB;
    font-size: 1rem;
}

.info {
    font-family: "PT Sans", serif;
    padding: 1rem 0 4rem 0;
    line-height: 1.7rem;
}

.read-div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.minutes-num {
    font-size: 1.5rem;
    font-weight: 700;
}

.button {
    background-color: #05CBE9;
    color: #111D4A;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    margin-left: 1rem;
    padding: .6rem;
    width: 10.5rem;
}
